<mat-toolbar class="navbar-class">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>
</mat-toolbar>
  
  <mat-toolbar>
      <span class="black-font font">Sort by: &nbsp; &nbsp; &nbsp; </span>
      <button type="button" class="btn btn-md btn-outline-success">Approved</button>
      &nbsp; &nbsp; &nbsp;
    
      <button type="button" class="btn btn-md btn-outline-danger">Disapproved</button>
      &nbsp; &nbsp; &nbsp;
    
      <button type="button" class="btn btn-md btn-outline-dark">Pending</button>
      
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    
      <form class="form-inline md-form form-sm">
        <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
        <input class="form-control form-control-sm ml-3 w-95" type="text" placeholder="Search by student name" aria-label="Search" mdbInputDirective>
      </form>
  </mat-toolbar> 
   
  
  <br>
  <!-- <div class="container">
    <div class="row">
      <div class="font black-font col-md-2">
        Student name:
      </div>
      <div class="font black-font col-md-2">
        Student ID:
      </div>
    </div>
  </div> -->
  
  <br>
  
  
  <mat-accordion class="example-headers-align">
    <!-- Company name 1 -->
    <mat-expansion-panel opened="false" hideToggle class="width-modifier">
      <mat-expansion-panel-header>
        <mat-panel-title class="black-font font">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                Student name:
              </div>
              <div class="col-md-6">
                Student ID:
              </div>
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description>
            <div class="col-md-6"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm btn-outline-success"data-toggle="modal" data-target="#basicExample" (click)="frame1.show()" mdbWavesEffect>
                    Approve
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm btn-outline-danger"data-toggle="modal" data-target="#basicExample" (click)="frame2.show()"mdbWavesEffect>
                    Disapprove
                </button>
            </div>
            <i class="material-icons">
                keyboard_arrow_down
            </i>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 font black-font">
                Date of registration
              </div>
              <div class="col-md-6 col-sm-12 font black-font">
                Username
              </div>
              <div class="col-md-6 col-sm-12 font black-font">
                Email id
              </div>
              <div class="col-md-6 col-sm-12 font black-font">
                Phone
              </div>
        </div>
      </div>   
    </mat-expansion-panel>
    <!-- End of Company name 1 -->
    
  </mat-accordion>
  
  
  <div mdbModal #frame1="mdbModal" class="modal fade left" id="frame1ModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-right" role="document">

      <div class="modal-content">

        <div class="modal-header">
          <p class="heading lead">Warning!</p>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame1.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <p>
              Are you sure that you want to approve?
            </p>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-warning waves-effect" mdbWavesEffect>OK </a>
          <a type="button" class="btn btn-warning waves-effect" mdbWavesEffect (click)="frame1.hide()">Cancel</a>
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #frame2="mdbModal" class="modal fade left" id="frame2ModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-right" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <p class="heading lead">Warning!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>
            Are you sure that you want to disapprove?
          </p>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-warning waves-effect" mdbWavesEffect>OK</a>
        <a type="button" class="btn btn-warning waves-effect" mdbWavesEffect (click)="frame2.hide()">Cancel</a>
      </div>
    </div>

  </div>
</div>