.sortbar-background{
    background-color:white;
    border: 0px solid black;
}

.font{
    font-family: 'Slabo 27px', serif;
}

.black-font{
    color: black;
}

.button {
    height: 35px;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.pre-modifier{
    width: 100%;
    border: 0px solid black;
}

// .parallax { 
//     /* The image used */
//     background-image: url("image1.jpg");

//     /* Set a specific height */
//     height: 900px; 

//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }